/* Updated CSS */
* {
  /* outline: 1px solid red; */
  font-family: 'Montserrat', sans-serif;
}

html, body {
    width: 100%;
    height:100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #f9faf7, #ef1d1d, #f9faf7, #ef1d1d);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

.chat-styles {
    text-align: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .chat-message {
        font-size: 16px;
    }
}

.ChatBot {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: radial-gradient(ellipse at center center, rgba(220, 209, 209), rgba(205, 4, 11));
    background-size: cover; */
    @media (max-width: 768px) {
        /* Adjust layout for smaller screens */
        padding: 20px;
        height: auto;
    }
}

.chat-content {
    position: relative;
    display: flex;
    text-align: left;
    max-width: 60%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #e41d1d; /* Choose your desired button color */
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s; /* Add a smooth transition effect */
    max-width: 200px; /* Set a maximum width */
    display: inline-block; /* Makes the button inline */
    margin-top: 10px;
}

button:hover {
    background-color: #a11e1e; /* Change the color on hover */
}

.button-container {
    border-radius: 100px; /* This will make the button more round */
    position: absolute;
    bottom: 10px;
    left: 5px; /* Adjust the left position as needed */
    right: 75px; /* Adjust the right position as needed */
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
}

.small-button {
    background-color: #e41d1d;
    color: #fff;
    padding: 8px 12px; /* Adjust the padding to change button size */
    border: 0.0625rem solid #fff; /* Border style and color */
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
}

.start-button {
    padding: 10px 20px; /* Adjust the padding as needed */
    background-color: #e41d1d; /* Background color */
    color: #fff; /* Text color */
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
    border: 0.0625rem solid #fff; /* Border style and color */
    cursor: pointer;
    transition: color 0.2s;
    font-family: 'Montserrat', sans-serif;
}

/* Remove any other existing button styles that might interfere */
/* .start-button:focus {
} */

/* Add hover effect */
.start-button:hover {
    background-color: #a11e1e; /* Change the background color on hover */
    color: #fff; /* Change the text color on hover */
}

.small-button:hover {
    background-color: #a11e1e;
}

/* Adjust the space between radio dots and the start of the words */
input[type="radio"] {
    margin-right: 10px; /* Adjust the amount of space as needed */
}

/* Styles for chat container, avatar, and chat box */
.chat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align buttons on opposite sides */
    align-items: center;
    background-color: #F2F4F6;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}

.avatar-container {
    margin-right: 20px;
}

.avatar-container img {
    max-width: 60px;
    height: auto;
    border-radius: 30%;
}

.chat-box {
    width: 50vw;  /* 50% of the viewport width */
    height: 70vh; /* 70% of the viewport height */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto; /* To handle potential overflow of content */
    position: relative;
}

/* Styles for chat messages */
.chat-message {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 5px 0;
    max-width: 70%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.slider {
    width: 35%; /* Adjust the width as needed */
  }
  
  .slider2 {
    width: 175%; /* Adjust the width as needed */
  }